.section-title {
  text-transform: uppercase;
  font-weight: bold;
  background: rgb(255, 255, 255);
  padding: 10px;
  margin-top: 75px;
  margin-bottom: 25px;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-family: "Ubuntu", serif !important;
}

.boxed {
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 10px;
  border-radius: 100px;
  font-size: small;
  margin-top: 5px;
  font-weight: bold;
}