.project-card {
  width: 400px;
  height: auto;
  display: inline-block; /* change the default display type to inline-block */
  overflow: hidden; /* hide the overflow */
  border-width: 1.5 !important;
  border-color: white !important;
}
.item-image {
  width: 100% !important;
  height: 600px;
  
}

@media all and (max-width: 768px) {
  /* 768px is usually the width of tablets in portrait orientation */
  /* You can use any other size you see fit */
  .project-card {
    width: 100%;
    height: auto;
    display: inline-block; /* change the default display type to inline-block */
    overflow: hidden; /* hide the overflow */
  }

  .item-image {
    width: 100% !important;
    height: 300px;
  }
}

.project-card:hover {
  cursor: pointer;
}

.project-card:hover .hidden-text {
  visibility: visible;
}

.hidden-text {
  visibility: hidden;
}

.project-card .project-image {
  transform: scale(1.5);
  filter: brightness(100%);
  transition: transform 1s; /* Animation */
}

.project-card:hover .project-image {
  filter: brightness(50%);
  transform: scale(
    1.6
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.modal-content {
  overflow-y: scroll;
}

.modal-content p {
  text-indent: 50px;
  font-size: larger;
}

.close-button {
  font-size: xx-large;
}

.iframe-container {
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}


.carousel-caption {
  background:linear-gradient( rgba(0, 0, 0, 0.1),  rgba(0, 0, 0, .5));
}

