#about {
  background-color: #f7f5f2;
}

.about-container {
  background-color: #ffffff;
}

hr {
  background-color: white;
  height: 1px;
  border: 0;
}


.profile-image {
  height: 500px;
  width: auto;
}

#about p {
  text-indent: 50px;
  font-size: larger;
}


