#about {
  background-color: #fff8ee !important;

}

.about-container {
  background-color: #ffffff;
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}



.profile-image {
  height: 500px;
  width: auto;
  clip-path:polygon(10% 0%, 100% 0%,90% 100%,0% 100%);

}

#about p {
  text-indent: 50px;
  font-size: larger;
}


