#about {
  background-image: linear-gradient(transparent, black);

}

.about-container {
  background-color: #ffffff;
}



.profile-image {
  height: 500px;
  width: auto;
  clip-path:polygon(10% 0%, 100% 0%,90% 100%,0% 100%);

}

#about p {
  text-indent: 25px;
  font-size: larger;
}


