#contact {
  min-height: 100vh;
  background-image: linear-gradient(transparent, black);

}

.contact-container {
  background-color: #ffffff;
  min-height: 75vh;
}

.left-image{
  clip-path:polygon(0% 0%, 100% 0%,90% 100%,0% 100%);

}

.contact-links-area {
  background-color: #ffffff;
}
.contact-form-area textarea {
  resize: none;
  min-width: 500px;
}

.social-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.social-button {
  width: 200px;
}

.social-text{
  text-decoration-color: #000000 !important;

}

a{
  text-decoration: none !important;
}

.social-button .social-text {
  position: relative;
  display: inline-block;
}
.social-button .social-text:after {
  content: "";
  position: absolute;
  left:0;
  top: 100%;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width .5s ease-in-out;
}
.social-button:hover .social-text:after {
  width: 100%;
}