#home {
  height: 100vh;
}

.background-image{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;

}

.hero-container {
  height: 100%;
  background-image: linear-gradient(transparent, black);
}

.quick-link-button .quick-link-text {
  position: relative;
  display: inline-block;
}
.quick-link-button .quick-link-text:after {
  content: "";
  position: absolute;
  left:0;
  top: 100%;
  width: 0;
  height: 2px;
  background-color: rgb(0, 0, 0);
  transition: width .5s ease-in-out;
}
.quick-link-button:hover .quick-link-text:after {
  width: 100%;
}